				</section>
				<footer>
					<p><b>-- EOF --</b></p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
            <p>
                <a href="https://git.matthil.de/matthilde/cutebunni.es">
                    Site source</a>
            </p>
				</footer>
			</section>
		</main>
	</body>
</html>
