@font-face {
	font-family: "JetBrains Mono";
	src: url("/static/jbregular.woff2");
	src: url("/static/jbmono.woff2");
}

body {
	max-width: 1000px;
	font-family: "JetBrains Mono", monospace;

	margin: auto;
	left: 0; right: 0;
}

img {
	max-width: 100%;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

#pfp { padding-right: 64 }

header, section, footer, section.sidebar > a {
	margin: 8px;
	padding: 8px;
	border: solid black 1px;
	box-shadow: 2px 2px black;
}
header { padding: 32px; }

section.sidebar > a {
	display: block;
	text-decoration: none;

	text-align: center;
}
nav > a:hover {
	background-color: lightcyan;
}

section.sidebar, section.main {
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	width: 30%;
}
section.main { width: 70%; }
#content {
	padding: 16px 48px;
}

footer { font-size: 0.5em; text-align: center; }

td { padding: 4px; }
input[type=submit] { display: none; }

pre
{
    word-wrap:          break-word;
    white-space:        pre-wrap;

    background-color:   #eee;
    border:             1px solid black;
    border-radius:      4px;
    padding:            12px;
}

code
{
    background-color:   #eee;
    padding:            2px;
}

img
{
    max-width:          100%;
    height:             auto;
}
