body
{
    max-width:          700px;
    font-family:        sans-serif;
    background-color:   darkgrey;

    margin:             auto;
    left:               0;
    right:              0;
}

header, main, footer
{
    margin:             16px;
    padding:            16px;
    background-color:   white;

    box-shadow:         8px 8px #00000088;
}

main h1,
main h2,
main h3
{
    border-bottom:      4px solid lightgrey;
}

main a
{
    color:              grey;
    text-decoration:    none;
}
a:hover
{
    text-decoration:    underline;
}

nav > a
{
    background-color:   black;
    display:            inline-block;
    margin:             6px;
    padding:            6px;
    color:              white;
    text-decoration:    none;
}
nav > a:hover
{
    background-color:   #444;
}

footer
{
    font-size:          0.8em;
    text-align:         center;
    font-family:        monospace;
}

pre
{
    word-wrap:          break-word;
    white-space:        pre-wrap;

    background-color:   #eee;
    border:             1px solid black;
    border-radius:      4px;
    padding:            12px;
}

code
{
    background-color:   #eee;
    padding:            2px;
}

img
{
    max-width:          100%;
    height:             auto;
}

header th
{
    padding:            16px;
    text-align:         left;
}
